h1 {
  text-align: center;
}
.jj {
  height: auto;
  width: 120px;
  border-radius: 10%;
  box-shadow: black;
}
.mango {
  width: 150px;

}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 3% 3% 3% 0;
}